.container-contact {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, #0E004D 2%, #6783FD 50%, #FFC857 70%);
    min-height: 100vh;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #12368E; //#221d73 #231bb6
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        .Link {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            transition: transform 0.3s, text-decoration 0.3s, color 0.3s;
            text-shadow: 1px 2px 3px rgba(36, 36, 36, 0.692);
            padding-left: 1rem;

            &:hover {
                text-decoration: underline;
                transform: scale(1.08) translateY(-2px);
            }
        }

        .pageatual-contact {
            display: flex;
            border: 2px solid #FFFFFF;
            height: 60px;
            border-radius: 55px;
            align-items: center;
            justify-content: center;
            background-color: #231bb6;
            font-size: 1.2rem;
            font-weight: bold;
            width: 40%;
            text-shadow: 1px 2px 3px black;
            box-shadow: -1.5px 2.5px 4px rgba(110, 110, 110, 0.753);
            margin-right: 4rem;
        }
    }

    .page-contact {
        background-color: #FFF;
        border: 2px solid #12368E, #F4BF50 70%;
        box-shadow: -2.9px 5px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        width: 60%;
        text-align: center;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 25%);
        height: 20rem;

        h3 {
            color: #12368E;
            margin: 0.9rem;
            text-shadow: 0px 2px 10.5px #0a1d4de8;

            a {
                color: #12368E;
            }
        }



    }
}

@media (max-width: 768px) {
    .container-contact {
        header {
            gap: 30px;
            font-size: 0.5rem;

            .pageatual-contact {
                font-size: 0.6rem;
                width: 60%;
                height: 40px;
            }
        }

        .page-contact {
            width: 90%;
            height: auto;
            padding: 1rem;
            transform: translate(-50%, 55%);

            .text {
                width: 100%;
                font-size: 0.6rem;
                text-align: center;
            }
        }
    }
}