@media screen and (min-width: 1024px), (max-width: 1444px)  {

    body {
        background-color: #ffffff;
        font-size: 17pt;
        flex-wrap: wrap;
        background-image: url(/background.png);
        background-repeat: no-repeat;
    }

    header {
        background-color: #0B0638F0;
        display: flex;
        align-items: center;
        width: 100%;
        top: 0;
        height: 150px;
        position: fixed;
        justify-content: center;

    }

    .logo {
        height: 130px;
        position: fixed;
        left: 50px;
    }

    header > strong {
        display: flex;
        justify-content: space-around;
        width: 550px;
        margin-left: 20%;
        font-family: "Roboto";
    }

    strong > a:hover{
        border: 1px solid #F4B855;
    }

    a {
        font-family: 'Roboto';
        color: #F4B855;
        text-decoration: none;
    }

    header > button {
        width: 90px;
        font-size: 17px;
        position: relative;
        left: 10%;
        height: 37px;
        border-radius: 40px;
    }

    .pagina {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .freifotinha {
        height: 394px;
        width: 648px;
        position: relative;
        left: 29%;
        top: 80px;
    }

    h1 {
        color: #fff;
        text-shadow: 3px 3px 3px rgb(255, 102, 0), 5px 5px 5px rgb(0, 110, 255), 7px 7px 7px rgb(206, 99, 99), 9px 9px 9px rgb(153, 73, 73), 11px 11px 11px rgb(152, 68, 221);
        font-family: "Bungee";
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 37px;
    }

    .texto {
        display: flex;
        position: fixed;
        text-align: center;
        height: 100%;
        width: 50px;
        left: 95%;
        top: 150px;

    }
}