@media screen and (min-width: 1024px), (max-width: 1444px) {

    .tudo {
        background-repeat: no-repeat;
        padding: 5vh;
        background-image: url('src/assets/images/background-degrade-inicio.png');
        width: 100%;
        height: 300vh;
        
        
        .vemprofrei {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8vh;
                margin-left: 15vh;
                background-color: #364FDA;
                width: 45vh;
                height: 9.8vh;
                font-size: large;
                color: #F4B855;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }

        .links{
            display: flex;
            margin-top: 10vh;

            strong{
                width: 30vh;
                gap: 15vh;
            }
            
                a {
                    color: #F4B855;
                    gap: 20vh;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
        }

       

        
        
    }
    
