.container-andar1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom,
            #0E004D 0%,
            #6783FD 50%,
            #FFC857 100%);
    text-shadow: 1px 2px 3px black;
    height: 857px;
    position: fixed;
    width: 100%;

    header {
        background: linear-gradient(180deg, #F4BF50 0%, #FFC857 100%);
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        align-items: center;

        .Link {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            transition: transform 0.3s, text-decoration 0.3s, color 0.3s;

            &:hover {
                text-decoration: underline;
                transform: scale(1.08) translateY(-2px);
            }
        }

        .pageatual-andar1 {
            display: flex;
            border: 2px solid #FFFFFF;
            width: 40%;
            border-radius: 3rem;
            align-items: center;
            justify-content: center;
            background-color: #FFC857;
            margin-left: 30%;
            font-size: 1.2rem;
            box-shadow: -1.5px 2.5px 4px black;
        }
    }


}